/* write your override styles here */
#wall .tag-1 {
   width: 500px;
   height: 200px;
   z-index: 5;
  }
#wall #tag-2 {
    height: 100px;
    z-index: 5;
    width: 800px;
  }
#wall #tag-3.slick {
    height: 600px;
    width: 400px;
    z-index: 3;
  }
#wall #tag-4 {
    width: 500px;
    z-index: 7;
}